h1 {
    color:blue;
}
.button1 {
    color:blue;
    border-style: none;
    border-color: gold;
    border: 2px;
    size: 24px ;
    transition: 0.4s;   
}
.button1:hover {
    background-color: blue;
    color: white;
}

       