h1 {
    color:blue;
}
.button1{
    background-color: white;
    font-size: 24px;
    padding: 10px 20px;
}
.button2{
    background-color: white;
    font-size: 24px;
    padding: 10px 20px;
    border: 2px solid black;
    border-color: green;
}

       